#securePwdInput {
    width: 90%;
    background-color: #E9ECEF; 
    border: none; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
}
body {
    background-color: #F8F9FA;
    font-family: 'Roboto Slab', serif;
}
.headline {
    padding-top: -10px;
    color: white;
}
.display {
    border: 1px dashed grey;
    border-radius: 5px;
}